__pycache__/
*.py[cod]
*$py.class
.DS_Store

db.sqlite3  
*.log  # Log files
*.pot
*.pyc
*.pyo
*.so
staticfiles/

.env  

env/
venv/

**/migrations/**

.pytest_cache/

.vscode/
.idea/

settings_local.py

Notes.txt
deepl_test.py

